.formSign {}

.formSign .checkbox {
    font-weight: 400;
}

.formSign .formFloating:focus-within {
    z-index: 2;
}

.my-login::-webkit-calendar-picker-indicator {
    display: none;
}

.my-arrow:after {
    content: url(https://i.stack.imgur.com/i9WFO.png);
    margin-left: -20px;
    padding: .1em;
    pointer-events:none;
}