.searchPanel::placeholder {
    color: #c1c1c1;
    opacity: 1;
}

.searchPanel {
    background-color: #383b3f;
    border: 0;
    padding: 1rem;
}

.searchPanel:hover, .searchPanel:focus, .searchPanel:active {
    background-color: #383b3f;
    border: 0;
    box-shadow: 0 0 0 0;
    padding: 1rem;
}