body {
    overflow-x: hidden;
}

.hide-input {
    position: fixed !important;
    left: -2500px;
}

.bg-image-404 {
    background: url("../public/404.jpg") no-repeat;
    background-size: cover;
}

.error div {
    height: 50px !important;
}

.modal-width-60 {
    max-width: 60%;
}

.modal-width-30 {
    max-width: 30%;
}

.btn:focus {
    box-shadow: 0 0 !important;
}

.dropdown-toggle::after {
    content: none;
}

.my-dropdown-user button {
    padding: 0;
}

.sticky-bottom {
    position: sticky;
    bottom: 0
}

.page-link, .page-link:hover {
    color: black;
}

.page-item.active .page-link {
    background-color: black;
    border-color: black;
}

.inline-input {
    position: relative;
    top: 0;
    right: 7%;
}

.top-20 {
    top: 20%;
}

.end-40 {
    right: 40%;
}

.my-table:hover {
    background-color: rgba(204, 204, 204, 0.5);
}

.print {
    padding: 3px 10px;
    border-radius: 10px;
}

.print:hover {
    background-color: black;
    color: white;
}