.hide-input {
    position: fixed !important;
    left: -2500px;
}

.bg-image-404 {
    background: url("../public/404.jpg") no-repeat;
    background-size: cover;
}

.error div {
    height: 50px !important;
}

.modal-width-60 {
    max-width: 60%;
}

.modal-width-30 {
    max-width: 30%;
}

.btn:focus {
    box-shadow: 0 0 !important;
}

.dropdown-toggle::after {
    content: none;
}

.my-dropdown-user button {
    padding: 0;
}

.sticky-bottom {
    position: sticky;
    bottom: 0
}